---
import BaseLayout from '../layout/BaseLayout.astro'
import { site } from '../data/site'
import Hero from '../components/Hero.astro'
import Planes from '../components/Planes.astro'
import Servicios from '../components/Servicios.astro'
import Contacto from '../components/Contacto.astro'
---

<BaseLayout title={site.seo.title} description={site.seo.description}>
  <Hero />

  <section id="planes">
    <Planes />
  </section>
  <!-- <section id="servicios">
    <Servicios />
  </section> -->
  <section id="contacto">
    <Contacto />
  </section>
</BaseLayout>
