---
import BaseLayout from '../layout/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import PromoBanner from '../components/PromoBanner.astro'
import Planes from '../components/Planes.astro'
import Servicios from '../components/Servicios.astro'
import Contacto from '../components/Contacto.astro'
import { SEO } from '../data/seo'
---

<BaseLayout title={SEO.meta.title} description={SEO.meta.description}>
  <Hero />

  <section class="grid gap-8 md:grid-cols-2 my-12">
    <PromoBanner image="/prom1.jpeg" />
    <PromoBanner image="/prom2.jpeg" />
  </section>

  <section id="planes">
    <Planes />
  </section>
  <section id="servicios">
    <Servicios />
  </section>
  <section id="contacto">
    <Contacto />
  </section>
</BaseLayout>
