---
import BaseLayout from '../layout/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Planes from '../components/Planes.astro'
import Servicios from '../components/Servicios.astro'
import Contacto from '../components/Contacto.astro'
import { SEO } from '../data/seo'
---

<BaseLayout title={SEO.meta.title} description={SEO.meta.description}>
  <Hero />

  <section id="planes">
    <Planes />
  </section>
  <section id="servicios">
    <Servicios />
  </section>
  <section id="contacto">
    <Contacto />
  </section>
</BaseLayout>
